body {
  background-image: url("poze/FerryBoat.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  margin-top: 4rem;
  background-color: white;
  box-shadow: 0 2px 4px black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
  margin-right: 1rem;
}

.navbar-toggler {
  color: black;
  font-size: 1.25rem;
  cursor: pointer;
}
.fa-ferry {
  color: blue;
}

.navbar-toggler::after {
  content: "Alte servicii";
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: none;
  border: 2px solid black;
}

.navbar-toggler:hover::after {
  display: block;
}
